h2, p {
    color: #222;
}

h1, h2, p {
    text-align: center;
}

h2 {
    font-weight: 400;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  #background-color: #2196F3;
  padding: 0px;
}
