.navbar {
  background-color: #ebbc00;
}
.navbar .navbar-brand {
  color: #616161;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ab2b00;
}
.navbar .navbar-text {
  color: #616161;
}
.navbar .navbar-text a {
  color: #ab2b00;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ab2b00;
}
.navbar .navbar-nav .nav-link {
  color: #616161;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-size: 28px;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ab2b00;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ab2b00;
  background-color: #ebbc00;
}
.navbar .navbar-toggle {
  border-color: #ebbc00;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ebbc00;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #616161;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #616161;
}
.navbar .navbar-link {
  color: #616161;
}
.navbar .navbar-link:hover {
  color: #ab2b00;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #616161;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ab2b00;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ab2b00;
    background-color: #ebbc00;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #616161;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ab2b00;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ab2b00;
    background-color: #ebbc00;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #616161;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ab2b00;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ab2b00;
    background-color: #ebbc00;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #616161;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ab2b00;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ab2b00;
    background-color: #ebbc00;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #616161;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ab2b00;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ab2b00;
  background-color: #ebbc00;
}
