h2, p {
    color: #222;
}

h1, h2, p {
    text-align: center;
}

h2 {
    font-weight: 400;
}

.image-caption {
    margin-bottom: 30px;
}

.papyrus-header-1 {
    margin-top: 60px;
    font-family: 'IM Fell DW Pica SC', serif;
}
