{% extends 'base_layout.html' %}

{% block content %}
    <body>
        <title>Itali Lambertini - Custom Work</title>
        <div class="body-wrapper">
            <link id="custom-work-css" href="https://gitcdn.link/repo/mueslimak3r/italilambertini-website/master/assets/custom-work.css" rel="stylesheet">

            <h1 id="red-title">Custom Work</h1>
            <h2 >If you are looking for a special custom piece, we are happy to work with you to create your perfect item of jewelry. We have successfully worked with clients all over the world and guarantee your absolute delight!</h2>

            <div class="two-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1ZopIM9x-yJZxKptNjKqhsekx_oQUf598" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1KVrVeZ1_KAd2CAS213haIrb3Va2s3qr5" loading="lazy">
                </div>
                <div>
                    <h4>18k gold & 2.05ct diamond provided by our client</h4>
                </div>
                <div>
                    <h4>22k gold angel wings earrings in production</h4>
                </div>
            </div>

            <div class="list-block">
                <h4>Some things to consider when starting a conversation with us regarding a custom piece:</h4>
                <p>1. We offer 1 1/2 hours of consultation free of charge with your purchase.</p>
                <p>2. Additional consultation time is billed at $100/hour starting with the 2nd hour.</p>
            </div>

            <div class="list-block">
                <h4>To make the process as efficient and rewarding as possible please start thinking about the following:</h4>
                <p>1. Do I want yellow gold or platinum?</p>
                <p>2. If yellow gold, what karat, 18k or 22k?</p>
                <p>3. Do I want stones? If so, which sort or color?</p>
                <p>4. Do I want a design of some sort on the ring? If so do I have a picture/sketch?</p>
                <p>5. What is my budget?</p>
            </div>

            <p style="margin-bottom: 30px; text-align: left;">Having some idea of the answers to these questions will yield a much more satisfying and efficient design process!</p>
            <p style="text-align: left;">With custom orders, we ask for a 50% deposit to purchase materials and put your project ‘in line’. Once your piece is complete, we will send you a photograph for your approval.  We then ask for the final balance plus any applicable shipping & insurance costs.</p>
        </div>
    </body>
{% endblock %}
