{% extends 'base_layout.html' %}

{% block content %}
    <body>
        <title>Itali Lambertini - Earrings</title>
        <div class="body-wrapper">
            <link id="earrings-css" href="https://gitcdn.link/repo/mueslimak3r/italilambertini-website/master/assets/earrings.css" rel="stylesheet">

            <h1 id="red-title">Earrings</h1>
            <h2 >Here are some samples of earrings we have created for our clients.  Any of these designs can be customized or we can create something completely new and fresh just for you!</h2>

            <div class="three-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1nByJyBu59WWzn1Q03MOHF5jaVXPmHLHL" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1K-44GNUuqXgava0f2QgbhLYEKcUN1fjD" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1-Op6pK6Z8TORBJrwu3lqrHGo4bweXdOB" loading="lazy">
                </div>
                <div>
                    <p>22k gold and pink sapphire</p>
                </div>
                <div>
                    <p>Cornflower blue sapphire and platinum</p>
                </div>
                <div>
                    <p>22k gold and tsavarite garnet</p>
                </div>
            </div>

            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=1h8bUjCb-92Uz4f78zJ83dsmCJlYINjmc" loading="lazy">
            </div>
            <p class="image-caption">18k gold Wavy ring with white and champagne diamonds</p>

            <div class="three-four-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1PNbJ4oaEcN3r_rMdDjRn9ep5YloLmFEM" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1lrXEbu5n3XRSs-bHXKRVREe9p126Y6gJ" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1qySFeoeTA7vsl6O96pebu0uDYaFgVunu" loading="lazy">
                </div>
                <div>
                    <p>Platinum, bronze and 22k gold wedding set with diamonds</p>
                </div>
                <div>
                    <p>Platinum and 22k gold lined wedding bands</p>
                </div>
                <div>
                    <p>18k gold and diamond Edelweiss wedding set (diamonds provided by client)</p>
                </div>

                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1yO1AS_USSv739zk4516HWFxRXIB6LLp9" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1Fcv68m8Wk3hKAMNiIC8aU6ctaT3s68d8" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1GV_i6l84UFsT473ioUA40jmqekcTmtyR" loading="lazy">
                </div>
                <div>
                    <p>22k gold and peridot ring</p>
                </div>
                <div>
                    <p>18k gold Ouroborus ring</p>
                </div>
                <div>
                    <p>18k gold and emerald ring</p>
                </div>
            </div>

            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=1i8hk1kHYJA2ekZUs_uEIzihf39sYx7fo" loading="lazy" style="min-width: 345px;">
            </div>
            <p>22k gold and Mozambique tourmaline ring</p>

            <div class="three-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1kx-_9OhREOLQnuqfT58RFLIapYid5PWR" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1Ye58kE0REyZdV8OCN77Z2W0cwbpJfIYw" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=144iMoBzXIFeDOMaVtdjcmlVbIuhUuZx-" loading="lazy">
                </div>
                <div>
                    <p>22k gold and pink sapphire</p>
                </div>
                <div>
                    <p>Cornflower blue sapphire and platinum</p>
                </div>
                <div>
                    <p>22k gold and tsavarite garnet</p>
                </div>
            </div>

        </div>
    </body>
{% endblock %}
