{% extends 'base_layout.html' %}

{% block content %}
    <body>
        <title>Itali Lambertini - Earrings</title>
        <div class="body-wrapper">
            <link id="earrings-css" href="https://combinatronics.com/mueslimak3r/italilambertini-website/master/assets/earrings.css" rel="stylesheet">

            <h1 id="red-title">Earrings</h1>
            <h2 >Here are some samples of earrings we have created for our clients.  Any of these designs can be customized or we can create something completely new and fresh just for you!</h2>

            <div class="three-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907885871_89a0896a7b_z.jpg" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907370328_b4ec8a58db_z.jpg" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49908183772_5f88960bec_z.jpg" loading="lazy">
                </div>
                <div>
                    <p>22k gold and chrysophrase earrings</p>
                    <p class="image-caption">Rich green jade family stone set into 22k cones with micro welded granulation.</p>
                </div>
                <div>
                    <p>Angel Wing earrings in 22k gold with paraiba tourmalines and rose quartz drops</p>
                    <p class="image-caption">These lightweight but sturdy wings were created by pressing the gold into a carved steel die, creating a relief image.  The rose quartz is a removable component.</p>
                </div>
                <div>
                    <p>18k gold Flower Petal Drop earrings with green onyx</p>
                    <p class="image-caption">This Flower Petal setting is the only component that we cast.  You can choose from a variety of colored briolettes, smooth or faceted.</p>
                </div>
            </div>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://live.staticflickr.com/65535/49908183302_da77617de3_z.jpg" loading="lazy">
            </div>
            <p>18k gold Sailboat earrings with sapphire and diamonds</p>
            <p class="image-caption">The boat 'hulls' are die pressed, creating the planks and portholes in relief.  The carved square sails are historically relevant to the time period of the boat and the 'rigging' is threaded 18k gold wire.</p>

            <div class="three-four-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49908183722_ae7ac6b80f_z.jpg" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907885686_c8b389a6f2_z.jpg" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907370213_e906ed4e0e_z.jpg" loading="lazy">
                </div>
                <div>
                    <p>18k gold Fleur de Lis earrings with carnelian drops</p>
                    <p class="image-caption">Enjoy these with any stone you desire!</p>
                </div>
                <div>
                    <p>18k gold and pink pearl earrings</p>
                    <p class="image-caption">Can be customized to use any bead that is top-drilled.</p>
                </div>
                <div>
                    <p>22k gold carved bird earrings with chrysophrase drops</p>
                    <p class="image-caption">Can be customized to use any bead that is top-drilled.</p>
                </div>

                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49908183602_b972b1b9cc_z.jpg" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49908183562_7c858ce22b_z.jpg" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907885516_634c7d3dd8_z.jpg" loading="lazy">
                </div>
                <div>
                    <p>18k gold with ancient Greek coins circa 350bc</p>
                    <p class="image-caption">We can source coins for you or you can have the fun of finding your own coins for us to set into earrings.</p>
                </div>
                <div>
                    <p>18k gold Sun/Moon earrings with rubies and red garnet drops</p>
                </div>
                <div>
                    <p>22k gold Starfish earrings with 18k gold ear wires and Paraiba tourmalines</p>
                    <p class="image-caption">Choose any small colored stone or no stone.</p>
                </div>
            </div>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://live.staticflickr.com/65535/49907369858_bdec6e7668_z.jpg" loading="lazy">
            </div>
            <p>22k gold and ruby Flower Petal earrings</p>
            <p class="image-caption">Also available in 18k gold and platinum and any colored stone you desire!</p>

            <div class="three-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907370023_910e373a2e_z.jpg" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907885421_7cf15fbfb7_z.jpg" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907885381_8ca4eb7d89_z.jpg" loading="lazy">
                </div>
                <div>
                    <p>22k gold disc earrings with emeralds and pink sapphires</p>
                </div>
                <div>
                    <p>22k gold pink sapphire and red coral earrings</p>
                </div>
                <div>
                    <p>22k gold twist hoop earrings with pink sapphires</p>
                </div>
            </div>

        </div>
    </body>
{% endblock %}
