{% extends 'base_layout.html' %}

{% block content %}
        <title>Itali Lambertini - Home</title>
        <div class="body-wrapper">
            <link id="homepage-css" href="https://gitcdn.link/repo/mueslimak3r/italilambertini-website/master/assets/homepage.css" rel="stylesheet">


            <h1 id="red-title">Jewelry made the ancient way...</h1>
            <h2 >Welcome to Itali Lambertini, and to the work of artist and goldsmith Tim Lambert.</h2>
            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://drive.google.com/uc?id=18xcrzCby7ix8La2d9dfImAEX-YqKdM_M" loading="lazy">
            </div>

            <h2>Tim's blend of ancient die carving and modern micro welding yielded the body of work that you can see here.</h2>

            <div class="img-grid grid-container">
                <div>
                    <a href="/rings/" style="margin-right: auto; margin-left: auto;"><img class="center-fit" src="https://drive.google.com/uc?id=1HDhm3Serlba0_q2rN85GyA92n5rI0_Q0" loading="lazy"></a>
                </div>
                <div>
                    <a href="/earrings/" style="margin-right: auto; margin-left: auto;"><img class="center-fit" src="https://drive.google.com/uc?id=1kf-55IdQWBUMHZruNarRyXFo_3zEAFQ6" loading="lazy"></a>
                </div>
                <div>
                    <a href="/pendants/" style="margin-right: auto; margin-left: auto;"><img class="center-fit" src="https://drive.google.com/uc?id=1m60YxJFDx5k0kvfOvTlA3ry2-b6V2zK2" loading="lazy"></a>
                </div>
            </div>

            <h1 id="red-title">We are committed to using 100% recycled gold & platinum.</h1>
            <p>Our goal is to create the perfect piece of jewelry for our clients!  We can repurpose your stones into new settings and can recycle your old gold for credit; please see our About page for details.</p>
        </div>
{% endblock %}
