{% extends 'base_layout.html' %}

{% block content %}

    <body>
        <title>Itali Lambertini - Investment Coin</title>
        <div class="body-wrapper">
            <link id="pendants-css" href="https://combinatronics.com/mueslimak3r/italilambertini-website/master/assets/investment-coin.css" rel="stylesheet">

            <h1 id="red-title">24K Gold Investment Coin</h1>
            <h2 >We are proud to announce the arrival of our 24k gold investment coin made with 100% recycled gold.</h2>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://live.staticflickr.com/65535/50153106682_0bf0936da6_o.jpg" loading="lazy">
            </div>
            <p class="image-caption">Each coin is exactly 1oz (.999% purity) and features original artwork by goldsmith Tim Lambert.</p>

            <h1 id="red-title">About the Coin</h1>
            <p>Deliberately stamped in exactly the same manner as the ancient tetradrachm coins of Greece, first we melt a 1oz flan of 24k pure gold and then strike both sides of the coin at the same time.</p>
            <p>Each 1oz portion of gold is meticulously weighed by Hoover and Strong and bagged individually for precision. The gold is then melted by us into medallions and weighed again to ensure that it is 1oz prior to stamping.</p>
            <p>Modern dies have a collar that forces the gold into a perfectly round coin. Ours allows the metal to spread, which makes every coin a one-of-a kind.</p>
            <p>The coin is approximately 1  1/16″ / 27mm in diameter x 4.6mm thick.</p>
            <p>Each coin is placed in a velveteen bag and then placed in a natural jute pouch for protection.</p>
            <p>We are proud to use only 100% RECYCLED GOLD purchased from Hoover and Strong, refiners for over 100 years.</p>

            <h1 id="red-title">Coin Front</h1>
            <div class="two-one-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/50153150942_9929845e54_o.jpg" loading="lazy" >
                </div>
                <div>
                    <p>The original artwork is inspired by a piece of art found at the Alhambra Palace in Spain. The Moors and the Christians were constantly trying to keep the peace between each other and symbolized in this artwork is mutual cooperation. We added the word ‘LOVE’, which is written as a mirror.</p>
                </div>
            </div>

            <h1 id="red-title">Coin Back</h1>
            <div class="two-one-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://live.staticflickr.com/65535/50152914871_1f199b1bb7_o.jpg" loading="lazy" >
                </div>
                <div>
                    <p>The back of the coin depicts our Itali Lambertini log surrounded by a medieval rose bower.</p>
                    <p>The edge of the coin depicts the information about the coin:</p>
                    <p>1 troy oz</p>
                    <p>.999 pure gold</p>
                    <p>100% recycled gold</p>
                    <p>2010 (the year we dreamed up the idea of making a coin)</p>
                </div>
            </div>

            <h1 id="red-title">Payment Options</h1>
            <p>We accept the following payment options:</p>
            <p>Cash, Money Order/Cashiers Checks, Personal Checks*</p>
            <p>VISA/MC/AMEX are available for an additional fee of 3% to cover credit card handling fees.</p>

            <p>*If you choose to use a personal check your shipment will be held until funds are released by the bank.</p>

            <h1 id="red-title">Spot Price Guarantee</h1>
            <p>Your spot price will be guaranteed once your payment has been cleared by our bank. In the case of personal checks this may take several days or weeks depending on the dollar amount.</p>

            <h1 id="red-title">Receiving/Shipping</h1>
            <p>If you live in the Puget Sound region you are welcome to pick up coins in person either at our studio in Port Townsend or at the Ballard Farmers Market.</p>
            <p>For those clients living outside the region we prefer to ship USPS Certified Mail which is the most secure option available.</p>
            <p>We are happy to ship via FedEx or UPS if you prefer.</p>
            <p>If so you may receive your order in multiple shipments in order to comply with insurance requirements.</p>
            <p>Shipping amounts will be based on the dollar value of the coins</p>

            <h1 id="red-title">Pricing Schedule</h1>
            <p>We base our per oz gold spot price on Hoover and Strong’s spot price which changes daily.</p>
            <p>PLEASE CALL FOR DAILY SPOT PRICE</p>
            <p>There is a 4% production fee charged per coin regardless of the number of coins purchased.</p>
            <table width="308" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 1.8em; width: 100%; border: 1px solid #000; border-collapse: separate; border-spacing: 0;">
<tbody>
<tr>
<td width="75" height="16">COIN AMT</td>
<td width="83">INITIAL COST</td>
<td width="75">PREMIUM</td>
<td width="75">TOTAL COST</td>
</tr>
<tr>
<td height="16">1 COIN:</td>
<td>spot + 4%</td>
<td>10%</td>
<td>spot + 14%</td>
</tr>
<tr>
<td height="16">2 COINS:</td>
<td>spot + 4%</td>
<td>9%</td>
<td>spot + 13%</td>
</tr>
<tr>
<td height="16">3 COINS:</td>
<td>spot + 4%</td>
<td>8%</td>
<td>spot + 12%</td>
</tr>
<tr>
<td height="16">4 COINS:</td>
<td>spot + 4%</td>
<td>7%</td>
<td>spot + 11%</td>
</tr>
<tr>
<td height="16">5 COINS:</td>
<td>spot + 4%</td>
<td>6%</td>
<td>spot + 10%</td>
</tr>
<tr>
<td height="16">6 COINS:</td>
<td>spot + 4%</td>
<td>5%</td>
<td>spot + 9%</td>
</tr>
<tr>
<td height="16">7 COINS:</td>
<td>spot + 4%</td>
<td>4%</td>
<td>spot + 8%</td>
</tr>
<tr>
<td height="16">8 COINS:</td>
<td>spot + 4%</td>
<td>3%</td>
<td>spot + 7%</td>
</tr>
<tr>
<td height="16">9 COINS:</td>
<td>spot + 4%</td>
<td>2%</td>
<td>spot + 6%</td>
</tr>
<tr>
<td height="16">10 COINS:</td>
<td>spot + 4%</td>
<td>1%</td>
<td>spot + 5%</td>
</tr>
<tr>
<td height="16">25 COINS:</td>
<td>spot + 4%</td>
<td>0.85%</td>
<td>spot + 4.85%</td>
</tr>
<tr>
<td height="16">50 COINS:</td>
<td>spot + 4%</td>
<td>0.75%</td>
<td>spot + 4.75%</td>
</tr>
<tr>
<td height="16">75 COINS:</td>
<td>spot + 4%</td>
<td>0.65%</td>
<td>spot + 4.65%</td>
</tr>
<tr>
<td height="16">100 COINS:</td>
<td>spot + 4%</td>
<td>0.50%</td>
<td>spot + 4.5%</td>
</tr>
</tbody>
</table>
        </div>
    </body>
{% endblock %}
