{% extends 'base_layout.html' %}

{% block content %}
    </head>
    <body>
        <title>Itali Lambertini - Our Story</title>
        <div class="body-wrapper">
            <link id="our-story-css" href="https://combinatronics.com/mueslimak3r/italilambertini-website/master/assets/our-story.css" rel="stylesheet">

            <h1 class="black-title" style="text-align:center;">Our Ethics:  100% recycled gold and platinum</h1>
            <p>Here at Itali Lambertini we believe that our ethics define who were are.  Itali Lambertini is absolutely committed to creating beautiful jewelry from 100% recycled metals and conflict free gems.  Therefore we are proud to exclusively purchase Harmony recycled precious metals from Hoover &  Strong.  Hoover & Strong’s statement about Harmony metals:</p>
            <p class="text-block">“All Harmony recycled precious metals at Hoover & Strong including gold, platinum, palladium and silver are 100% recycled. When it is necessary to obtain recycled metal from other sources, we buy metal from other earth-friendly refineries that, like us, only use recycled metal. We require any secondary refinery to provide in writing, full disclosure of their metal sources.Harmony Recycled Metals were originally certified by SCS Global Services in 2009. We are audited every year by SCS, and have received the renewal certficates for 100% Recycled Precious Metals every year since then.”</p>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://live.staticflickr.com/65535/49907495153_3e59fee99e_z.jpg" loading="lazy">
            </div>

            <div class="list-block">
                <h1 class="black-title" style="text-align:left;">Recycle your gold and platinum for credit</h1>
                <p>1. Do I want yellow gold or platinum?</p>
                <p>2. If yellow gold, what karat, 18k or 22k?</p>
                <p>3. Do I want stones? If so, which sort or color?</p>
                <p>4. Do I want a design of some sort on the ring? If so do I have a picture/sketch?</p>
                <p>5. What is my budget?</p>
            </div>

            <h1 class="black-title" style="text-align:left;">Repurpose your stones</h1>
            <p class="text-block">We have a growing number of clients who have inherited diamonds and other precious stones from a loved one, but dislike the settings that these stones are in.  We can take these pieces of jewelry apart for you, recycle the metal (see above) and design a new custom piece for you.  That way you can enjoy these sentimental stones in the jewelry that you now love.  Many of the rings and other jewelry that you see on our pages can be customized to utilize your stones.</p>

            <div class="our-story-img-grid grid-container">
                <div style="grid-area: left-photo;">
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907495173_ddfba6abaa_z.jpg" loading="lazy" >
                </div>
                <div style="grid-area: right-photo;">
                    <img class="center-fit" src="https://live.staticflickr.com/65535/49907495003_9b2aa80b36_z.jpg" loading="lazy">
                </div>
            </div>

            <h1 class="black-title" style="text-align:left;">​About Tim and Sheryl</h1>
            <p class="text-block">Tim Lambert was born in Radlett, Hertfordshire England on April 21, 1956 . The second of three sons, from an early age Tim was fascinated with how metal could be transformed into art. Tim made his first piece of jewelry at the age of 17 and when, at the age of 18 he was invited to participate in the DeBeers diamond exhibit passing through Guildford Surrey, his passion was cemented. An artist as long as he can remember, Tim muses that his work feels as if it was found at an ancient Greek dig, but with his own personal style. Born in England, Tim has lived in USA for 38 years, the last 27 with his wife Sheryl and two children.</p>
            <p class="text-block">Sheryl is a west coast native, the youngest child of an Air Force officer, and has lived in Washington State since she was 9. An avid traveler, as is Tim, she has traveled to many countries around the world and lived in England for a brief time during college. Sheryl studied Environmental Education at Western Washington University and makes a point of incorporating her ethics into their everyday lives, from being conscious of their consumerism and what is brought into their house, educating their children about their role in environmental stewardship, purchasing organic food with as little packaging as possible and driving a zero emmissions van for their businesses.</p>
            <p class="text-block">As well as being co-owner of Itali Lambertini, Sheryl is president of Daddys Inc. which is a producer of organic muesli cereal called Daddy's Muesli.</p>
        </div>
    </body>
{% endblock %}
