{% extends 'base_layout.html' %}

{% block content %}
    <body>
        <title>Itali Lambertini - Pendants</title>
        <div class="body-wrapper">
            <link id="pendants-css" href="https://combinatronics.com/mueslimak3r/italilambertini-website/master/assets/pendants.css" rel="stylesheet">

            <h1 id="red-title">Pendants</h1>
            <h2 >Here are some pendant examples for your inspiration!</h2>

            <div class="two-one-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1tLpv6AC1199oF-ze9UVw-wrT81Uswc2j" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1JM03se45yOs1Rny9rgwhhPf4FLtlyKZn" loading="lazy">
                </div>
            </div>

            <p>22k gold pivoting pendant with ancient Greek coin, circa 350bc</p>
            <p class="image-caption">We purchase all of our ancient coins from CNG and these coins are certified to be authentic.  You are welcome to purchase your coin and have us create the setting.</p>

            <div class="two-one-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1hbePh6kiuIZZLVZlaw1BuAvUQY7chAie" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1LqNmYiE4I9JqE3y6Fl7hEAlJZg31Cq6h" loading="lazy">
                </div>
            </div>

            <p>22k gold pendant with ancient Greek coin, circa 350-60bc</p>
            <p class="image-caption">This lovely Dionysis coin was purchased from CNG and is set in 22k gold.  Approximately 15mm in diameter.  We can source your coin for you or you can choose your own for us to set.</p>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://drive.google.com/uc?id=1jVUCJUI-if9CQiIw-xMY0CVZNGh-4GID" loading="lazy">
            </div>
            <p class="image-caption">22k gold with ancient Roman intaglio pendant on emerald cabachon necklace</p>

            <div class="two-one-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1gVKnMwRdXCPUrUKBPW0Nb4cgL1WbfrBi" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1H8-2eRLt8o6gOxHp8BxWISVRYQBJ8OmJ" loading="lazy">
                </div>
                <div>
                    <p>Platinum pendant using client's diamonds</p>
                </div>
                <div>
                    <p>22k gold moonstone pendant with 18k gold handmade chain</p>
                </div>
            </div>

            <div class="two-three-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=13N3hQUJ9RsIP8eb_mrknMKiFdgBex6oN" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=17TTjxJRy6QfxD8QCf_pg-pOpCyDYHLGs" loading="lazy">
                </div>

                <div>
                    <p>18k gold and Australian fire opal pendant</p>
                </div>
                <div>
                    <p>18k gold opal pendant on 18k gold chain</p>
                </div>

                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1nwUR05NPkCRRwks0887KBWIcfkCoaASa" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1zrK13_o-h2Mv_djLDdav7xLumrV85BPZ" loading="lazy">
                </div>

                <div>
                    <p>22k gold and ruby pendant on 18k gold chain</p>
                </div>
                <div>
                    <p>22k gold and emerald pendant on 18k gold chain</p>
                </div>
            </div>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://drive.google.com/uc?id=1Ad3lAvrZpFM9CZqfypE_4yjHVbgi25gc" loading="lazy">
            </div>
            <p>18k gold and red jasper pendant on leather thong</p>
            <p class="image-caption">This recent medical school graduate and budding heart doctor found this jasper on the beach and it reminded him of a heart so he asked Tim to create this meaninful pendant.</p>

            <div class="imgbox imgbanner">
                <img class="center-fit" src="https://drive.google.com/uc?id=1PmX8TbllAkju0Gs1sY_oAW6s-1HvlXMs" loading="lazy">
            </div>
            <p>22k gold handmade chain</p>
            <p class="image-caption">We are happy to create a chain for you in 18k or 22k gold.  Choose from a range of link sizes and chain lengths.</p>

        </div>
    </body>
{% endblock %}
