{% extends 'base_layout.html' %}

{% block content %}
        <title>Itali Lambertini - Rings</title>
    </head>
    <body>
        <div class="body-wrapper">
            <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap" rel="stylesheet">
            <link id="rings-css" href="https://gitcdn.link/repo/mueslimak3r/italilambertini-site/master/italisite/assets/rings.css" rel="stylesheet">

            <h1 id="red-title">Rings</h1>
            <h2 >There is no limit to what you and Tim can create together!  Here are a few examples of the rings that we have made over the years.</h2>
            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=1mP-Hn4ybqgv0NwYuyf3Wz74HnJl6Z4p8" loading="eager">
            </div>

            <p class="image-caption">L to R:  22k gold wavy band, 22k gold and zircon Fern ring, platinum and blue sapphire wavy ring, 18k gold and blue sapphire wavy ring, platinum and palladium twist ring, 22k gold and black diamond stackable, 18k gold and blue sapphire stackable</p>

            <h1 class="papyrus-header-1">Palmate Rings</h1>
            <h2>This lovely palmate pattern is created by carving a steel die and pressing the gold into the design.  The gold wire border is then welded into place. Beyond that, the ring can be customized in any number of ways.</h2>

            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=1E1hi_6uX8rNMi-E8d5Ls7pmKEzLCHyr6" loading="lazy">
            </div>
            <p class="image-caption">22k gold and emerald</p>

            <div class="three-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1uaf-EVOF_6A0rK_qSUL11Q1PCKuOvIwr" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1ZaPv2j7_TXRqVIvVcZ1f8INEAhRAZ6VH" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1aBVrAp2Z3wDicmrHotKgAcRoM1EWTFPs" loading="lazy">
                </div>
                <div>
                    <p>22k gold and pink sapphire</p>
                </div>
                <div>
                    <p>Cornflower blue sapphire and platinum</p>
                </div>
                <div>
                    <p>22k gold and tsavarite garnet</p>
                </div>
            </div>

            <h1 class="papyrus-header-1">Wavy Rings</h1>
            <h2>The perfect ring for repurposing your stones into a fresh new setting. Tim welds a group of gold 'washers' together at the base of the ring and then creates the waves based on each stone that he is setting.  Next he carves a groove on the inside of each wave where he plans on setting a stone, which locks that stone into place before he welds the waves together and moves on to set another stone.</h2>

            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=1RKdR_OgYY-Vi71CXjDciJKyCqmGWy7Vi" loading="lazy">
            </div>
            <p class="image-caption">18k gold Wavy ring with white and champagne diamonds</p>

            <div class="three-two-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1IfL-amFO19zRHzY5j76b80v5t_hVIw1C" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1cYXwMcPS55L5TOjjPm9963h1Qy7eQ18L" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1mUd3-peeD_2TmD0QatVcLFoWXIWc_j02" loading="lazy">
                </div>
                <div>
                    <p>18k gold Wavy ring with diamonds and blue sapphires</p>
                </div>
                <div>
                    <p>18k gold and tourmaline wavy ring using client's stones</p>
                </div>
                <div>
                    <p>Platinum and Sri Lankan blue sapphire Wavy Ring</p>
                </div>
            </div>

            <h1 class="papyrus-header-1">Bands and Various Rings</h1>
            <h2>We can create any design that your heart desires!  Here are some more examples of rings that Tim has created for our clients.</h2>

            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=1wTHAUTqLRzXmNNjabGWgKlxpl6kJlcUd" loading="lazy" style="min-width: 345px;">
            </div>
            <p>22k gold and Moissonite ring</p>
            <p class="image-caption">Moissonite is a gorgeous alternative to natural diamonds, as it is free of any negative environmental or social impacts, and is a fraction of the cost of diamonds!</p>

            <div class="three-four-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1wt-Y6wlyruWSzEDpRDBGMklGJP5rC7_x" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1AzNOUC41hfaymNd5ZMBNSSYlDhNyn4o8" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=19ySY9iPlxB02r8m8dVJPubSyidfNZLlU" loading="lazy">
                </div>
                <div>
                    <p>Platinum, bronze and 22k gold wedding set with diamonds</p>
                </div>
                <div>
                    <p>Platinum and 22k gold lined wedding bands</p>
                </div>
                <div>
                    <p>18k gold and diamond Edelweiss wedding set (diamonds provided by client)</p>
                </div>

                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1GsQyF9Z5JMkxB5Ds4CPHA8ROQPyU4O_b" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1qtXbj18q7ouxd5XNTId5RvJGdxVyXvTh" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1hG8_InGwuNvkLYWMnVRjKkmEU7sMbpkD" loading="lazy">
                </div>
                <div>
                    <p>22k gold and peridot ring</p>
                </div>
                <div>
                    <p>18k gold Ouroborus ring</p>
                </div>
                <div>
                    <p>18k gold and emerald ring</p>
                </div>
            </div>

            <div class="imgbox">
                <img class="center-fit" src="https://drive.google.com/uc?id=14GrGZ-jPnkgGwRQ7noRZtB_xzx4HeuR6" loading="lazy">
            </div>
            <p>22k gold and Mozambique tourmaline ring</p>

            <div class="three-four-img-grid grid-container">
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1ObIqNIUtEpVgkU0rK_jBRvLwqMunPvbx" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1nvkMxuKSqWIDBL2c8BKd8myPU4M1-NZo" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1-Js8yYRdg6nMmByiPfF0BXVuU8IrFmk2" loading="lazy">
                </div>
                <div>
                    <p>22k gold and green tourmaline ring</p>
                </div>
                <div>
                    <p>18k gold rings using client's diamonds</p>
                </div>
                <div>
                    <p>22k gold, garnet and champagne diamond ring</p>
                </div>

                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1CqJj1PpzvtCxCDg7ivjdeBi7MRQIg6SP" loading="lazy" >
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=1qa44aZoaJK3yl7bsIellvtHiUPXPysex" loading="lazy">
                </div>
                <div>
                    <img class="center-fit" src="https://drive.google.com/uc?id=15wHdbL22FmChXY9zZOCo7B61LDmwgmxF" loading="lazy">
                </div>
                <div>
                    <p>22k Undersea ring with blue sapphires and Paraiba tourmalines</p>
                </div>
                <div>
                    <p>22k gold diamond and spinel ring</p>
                </div>
                <div>
                    <p>22k gold Aunk ring with lapis, carnelian, green turquoise and white sapphire</p>
                </div>
            </div>

        </div>
    </body>
{% endblock %}
